.nav{
  padding : 1em;
  margin: 0.5em;
  
  align-items:center;
}

.edit-button{
  float: left;
}

.display-item{

font-size: 18px;
color: #982430;
padding: 0.5em;
background-color: #437463

}

.nav-button {
  text-decoration: none;
  margin: 0.25em;
  padding: 0.25em;
  border: rgb(105, 56, 56) 0.5px solid;
}
.nav-button :hover {
  color: rgb(20, 153, 177);
}

.link-text {
  color: rgb(18, 8, 46);
}

.navigate-back {
  font-size: 1.75em;
  color: blue;
}

.form-horizontal {
  margin: 10px;
  padding: 10px;
  width: 500px;
}

.title {
  padding: 10px;
  display: inline-block;
  margin: 10px;
}

.btn-container {
  display: flex;
  padding: 10px;
  margin: 10px;
}

.btn-delete {
  margin: 2px;
}

.btn-submit {
  margin: 2px;
}
